marquee{
    font-size: 20px;
    padding: 0.50%;
    color: white;
    font-weight: 500;
}

nav li{
    font-size: 20px;
}

nav li:hover{
    background-color: rgb(27, 91, 252);
    border-radius: 10%;
}

.fa{
    text-decoration: none; 
    color:rgb(64, 105, 141);
    font-size: large;
}

.fcont{
    padding: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 9%;
    display: grid;
    grid-template-columns: 25% 50% 25%; 
    gap: 4%;
    background-color: rgb(205, 226, 255);
}

.fdiv{
    background-color: white;
    border-radius: 5%;
}


.fheader{
    color: white;
    padding: 8px;
    border-radius: 5%;
}

.vis{
    display:none;
}

main{
    width: 100%;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }



@media only screen and (max-width: 1200px){
    .fa{
        font-size: 12px;
    }
    
    .fcont{
        display: grid;
        grid-template-columns: 25% 40% 30%;
        padding-right: 5%;
    }
    
    p{
        font-size: 30px;
    }


}


@media only screen and (max-width: 990px){
    .fheader{
        font-size: 15px;
    }
    
    .vis{
        display: block;
        font-size: 14px;
    }

    .fcont{
        display: block;
        padding: 2%;
    }

    .fdiv{
        border-radius: 5%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }
}



@media only screen and (max-width: 600px) {
    .fheader{
        font-size: 12px;
    }
    
    nav li{
        font-size: 12px;
    }

    p{
        font-size: 20px;
    }
    
    marquee{
        font-size: 10px;
        color: white;
        font-weight: 400;
      }

}